*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: whitesmoke;
}

/* TYPOGRAPHY */

a {
    color: #343434;
    text-decoration: none;
}

p {
    font-weight: 400;
}

li {
    list-style-type: none;
}

.subheading {
    font-size: 2em;
    padding-bottom: .5em;
}

.sub-title {
    padding-top: 2em;
    padding-bottom: .5em;
}

.spacing {
    padding-top: .5em;
}

.recent-post {
    text-align: center;
    padding-top: 3em;
}

/* CONTENT */

section {
    width: 90%;
    padding-top: 3.125em;
    margin: 0 auto;
}

.section-container {
    padding: 1.5em 0;
}

.profile-picture {
    display: block;
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

.intro {
    padding-top: 1.5em;
}

/* ARTICLE */

.blog {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1.25em;
}

.blog-date {
    margin-top: .5em;
}

.blog-images {
    width: 100%;
    border-radius: 5px;
}

/* FOOTER */

footer {
    padding: 3em 0;
    background-color: #202020;
    font-size: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}

/* HAMBURGER */

.navbar {
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.5em;
}

.nav-menu {
    display: flex;
    gap: 10px;
}

.nav-branding {
    font-weight: 700;
    font-size: 1rem;
    transition: 0.7s ease;
}

.nav-link {
    font-weight: 400;
    font-size: .8rem;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.nav-branding:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #262626;
}

@media (min-width: 576px) {
    .media-query-container {
        display: block;
        margin: 0 auto;
        max-width: 1024px;
    }

    .media-query-section-container {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        max-width: 1024px;
    }

    .intro {
        padding-left: 2em;
        padding-top: 2em;
    }

    .grid-container {
        display: grid;
        /* grid-template: 450px / 300px 300px 300px; */
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 576px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        Left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background:rgb(38, 38, 38, .7);
        width: 100%;
        min-height: 100vh;
        text-align: center;
        transition: 0.3s;
        padding: 1em 0;
        overflow: hidden;
    }

    .nav-item {
        margin: .5em 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        font-weight: 700;
        font-size: 1rem;
        color: whitesmoke;
        transition: 0.7s ease;
    }
}